@import '../../../config.scss';



$vars: (
    clr--plhl : white,
    accent--clr--plhl:#fff,
    fw--plhl : 500,
    fs--plhl : 0.75rem,
    ff--plhl : 'Roboto',
    brd--radius : 30px,
    clr--caret:#ACACAC,
);
:root {
  @each $property, $value in $vars {
    --#{$property}: #{$value};
  }

}

.header__search{
    position: relative;
}

.header__search-input
{
    width: 100%;
    border:2px solid #ACACAC;
    padding: 0.875rem 1.875rem 0.875rem 3.76rem;
    @include var(border-radius, brd--radius);
    @include var(font-family, ff--plhl);
    @include var(font-weight, fw--plhl);
    @include var(font-size, fs--plhl);
    @include var(color, accent--clr--plhl);
    @include var(caret-color, clr--caret);
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: transparent;
}


  .header__search-input:focus
  {
    box-shadow: inset 0 0 7px 1px rgb(255,255,255,0.4);
    outline: none;
  }
  
.search-icon__item{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0,-50%);
    padding: 0.1rem 0 0 0;
    width: 2.1875rem;
    height: 2.1875rem;
}
.header__search-reset
{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0,-50%);
    background-color: transparent;
    border: 0;
    width: 20px;
    height: 20px;
    visibility: hidden;
}
.header__search-reset--show
{
    visibility: visible;
}
.header__search-reset::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 2px;
    background-color: #fff;
    transform: translate(0,-50%) rotate(-45deg);
}
.header__search-reset::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 14px;
    height: 2px;
    background-color: #fff;
    transform: translate(0,-50%) rotate(45deg);
}


