._wrap{
display: grid;
place-items: center;
margin: 20px 0 0 0;
}
.header__search{
    width: clamp(200px, 50%, 400px);
    display: flex;
    position: relative;
}
.header__search-wrap{
    display: flex;
}
.header__search-input
{
    width: 100%;
    border: 1px solid blue;
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
    border-bottom-right-radius:4px;
    border-top-right-radius:4px;
    padding: 0 5px;
}
.header__search-label
{
    border: 1px solid blue;
    padding: 5px;
    border-top-left-radius:4px;
    border-bottom-left-radius:4px;
    background-color: aliceblue;
}
.header__search-container
{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: .1);
    width: 100%;
    border-bottom-right-radius:4px;
    border-bottom-left-radius:4px;
     z-index: -1;
    min-height: 30px;
}
.header__search-item
{
    margin: 10px 0 0 0;
    padding: 5px;
}
.header__search-item:first-child
{
    margin: 30px 0 0 0;
}
