@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
legend{
    display: none;
}
fieldset{
    border: none;
}
button,a{
cursor: pointer;
}
body,html{
  background-color: #F4F7FD;
  height: 100vh;
}
.wrapper{
    overflow: hidden;
    height: 100vh;
}
@media (prefers-color-scheme: dark) {
    body{
        background-color: #050B17;
      }
}